* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
	color: #0F0F0F;
	border: none;
}

html {
	font-size: 100%;
}

h1 {
	font-size: 2.5rem;
	font-weight: 600;
}

.wrapper {
	position: relative;
}

.header {
	position: relative;
	width: 100%;
	height: 47vh;
	min-height: 240px;
	background: #5e5e5e url('/assets/img/pegasus.jpg') no-repeat center center;
	background-size: cover;
	border-radius: 50px;
}

/* ===== HEADER search box ===== */

.header-search {
	position: absolute;
	top: 40px;
	left: 40px;
	width: 20%;
	height: 53px;
}

.header-search__box {
	width: 53px;
	height: 53px;
	background-color: rgb(235, 235, 235);
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: width 0.6s, border-radius 0.6s, box-shadow 0.6s;
}

.header-search__box.header-search__icon {
	color: black;
}

.header-search__box:hover {
	color: white;
	box-shadow: 0 0 0 5px rgb(61, 71, 82);
}

.header-search__box:focus {
	width: 90%;
	padding-left: 15px;
	color: black;
	border: none;
	border-radius: auto;
	box-shadow: none;
	transition: width 0.6s, border-radius 0.6s;
	outline: none;
	cursor: text;
}

.header-search__box:not(:focus) {
	text-indent: -5000px;  /* for no text input on falling back */
}

#search-box::-webkit-calendar-picker-indicator {
	display: none;
}

#search-submit {
	position: relative;
	left: -5000px;
}

.header-search__icon {
	position: relative;
	left: -37px;
	color: #0F0F0F;
	cursor: pointer;
}

/* ===== HEADER text ===== */

.header-text {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -140px;
	padding: 20px 60px;
	text-align: center;
	background-color: white;
	border-radius: 0 0 30px 30px;
}

.header-text__city {
	line-height: 1.2;
}

.header-text__country {
	font-size: 1.25rem;
	line-height: 1.7;
}

.main {
	display: flex;
}

.section-title {
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.section-title span {
	font-weight: 300;
}

/* ===== 3 day forecast column ===== */

.forecast {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 22%;
	height: 48vh;
	margin-left: 40px;
}

.forecast-block {
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 100px;
	min-height: 80px;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 30px;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

.forecast-block:last-of-type {
	margin-bottom: 0;
}

.forecast-block__icon {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.forecast-block__icon img {
	width: 40px;
	height: 40px;
}

.forecast-block__desc {
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 10px;
	font-size: 1rem;
}

.desc-day{
	font-weight: bold;
}

.information-weather__degrees p, .information-weather__degrees p sup, .information-pollution__value p {
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
}

.forecast-block__degrees {
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 127px;
	font-size: 1.15rem;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	background-color: #DCE0EB;
	border-radius: 0 30px 30px 0;
}

/* ===== Places to see column ===== */

.sights {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 30%;
	height: 48vh;
	margin-right: 4vw;
	margin-left: 4vw;
}

.sights-blocks {
	display: flex;
	justify-content: space-between;
	height: 340px;
	min-height: 280px;
}

.sights-wrapper {
	display: flex;
	flex-direction: column;
	width: calc(50% - 10px);
}

.sight_big,
.sight_small {
	flex: 1 1 auto;
}

.sights-block {
	position: relative;
	display: flex;
	cursor: pointer;
}

.sight1-block {
	background: #dce0eb url("/assets/img/unicorn1.jpg") no-repeat top center;
}

.sight2-block {
	background: #dce0eb url("/assets/img/unicorn2.jpg") no-repeat center center;
	margin-bottom: 20px;
}

.sight3-block {
	background: #dce0eb url("/assets/img/unicorn3.jpg") no-repeat center center;
}

.sights-block__photo {
	flex: 1 1 auto;
	background-size: cover;
	border-radius: 30px;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

.sights-block__title{
	position: absolute;
	top: 25px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	padding: 4px 10px;
	color: white;
	background-color: rgba(94, 94, 94, 0.6);
	border-radius: 0 10px 10px 0;
}

.sights-block__title a {
	color: white;
	text-decoration: none;
}

.sights-block__title::before {
	padding-right: 15px;
	font-size: 1.125rem;
	font-family: "FontAwesome";
	content: "\f002";
	color: white;
	text-shadow: none;
}

/* ===== Information column ===== */

.information {
	position: absolute;
	right: 60px;
	bottom: 0;
	display: flex;
	flex-direction: column;
	width: 33%;
}

.information-block_big {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
	height: 200px;
	min-height: 180px;
	margin-bottom: 20px;
	padding-right: 10px;
	background-color: white;
	border-radius: 30px;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

.information-weather__icon {
	flex: 1 1 28%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #DCE0EB;
	border-radius: 30px 0 30px 0;
}

.information-weather__icon img {
	width: 68px;
	height: 68px;
}

.information-weather__degrees {
	flex: 1 1 28%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.75rem;
}

.information-weather__degrees p sup {
	font-size: 1.5rem;
}

.information-weather__place {
	position: relative;
	flex: 1 1 44%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.25rem;
	padding-left: 5%;
}

.information-weather__place p::before {
	position: absolute;
	left: 0;
	width: 1px;
	height: 45%;
	content: "";
	background-color: #707070;
}

#weather-text {
	font-size: 1.15rem;
}

.information-weather__desc {
	flex: 1 1 33.3%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.middle {
	position: relative;
}

.information-weather__desc.middle p::after {
	position: absolute;
	right: 10px;
	width: 1px;
	height: 30%;
	content: "";
	background-color: #707070;
}

.information-weather__desc.middle p::before {
	position: absolute;
	left: 10px;
	width: 1px;
	height: 30%;
	content: "";
	background-color: #707070;
}

#city-name, #harmfulness {
	font-weight: bold;
}

.information-pollution__value {
	flex: 1 1 28%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #5E5E5E;
	border-radius: 30px 0 30px 0;
}

.information-pollution__value p {
	font-size: 2.75rem;
	color: white;
}

.information-pollution__desc {
	flex: 1 1 72%;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	padding-left: 20px;
	font-size: 1.25rem;
}

.pollution-text {
	font-size: 1.15rem;
}

.pollution-standard {
	font-size: 0.75rem;
	vertical-align: text-bottom;
}

.information-pollution__atm {
	display: flex;
	align-items: center;
	justify-content: center;
}

.information-pollution__atm {
	flex: 1 1 auto;
}

.information-block_small {
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 80px;
	min-height: 80px;
	margin-bottom: 20px;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	background-color: white;
	border-radius: 30px;
}

.information-block_small:last-of-type {
	margin-bottom: 0;
}

.information-icon_small {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #DCE0EB;
	border-radius: 30px 0 0 30px;
}

.information-icon_small img {
	width: 40px;
	height: 40px;
}

.information-data_small {
	flex: 2.5;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 1.25rem;
}

.information-data_small p span{
	font-weight: bold;
}

.information-flag__data img {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.3));
}